# Import bibliotek

In [1]:
import pandas as pd
import os

# Ładowanie danych

In [2]:
parent_dir = os.path.dirname(os.getcwd())
data = pd.read_csv(os.path.join(parent_dir, 'data//data.csv'), index_col=0)
data.reset_index(drop=True, inplace=True)
data

,title_author,pages,genre,stars,reviews,series,mix,character,plot,funny,...,inspiring,relaxing,tense,sad,reflective,adventurous,challenging,informative,mysterious,dark
0,Gravity by Tal Bauer,273,"['fiction', 'contemporary', 'lgbtqia+', 'roman...",4.00,2017,0,0.0044,0.0051,0.0002,0.0027,...,0.0035,0.0007,0.0021,0.0012,0.0011,0.0010,0.0007,0.0001,0.0000,0.0000
1,Every Last Secret by A.R. Torre,302,"['fiction', 'thriller']",3.78,7330,0,0.0039,0.0042,0.0017,0.0003,...,0.0000,0.0000,0.0063,0.0005,0.0003,0.0007,0.0009,0.0000,0.0080,0.0068
2,Black Cake by Charmaine Wilkerson,400,"['fiction', 'historical', 'literary']",4.15,16761,0,0.0051,0.0039,0.0008,0.0002,...,0.0028,0.0001,0.0010,0.0034,0.0066,0.0024,0.0018,0.0011,0.0043,0.0010
3,Treason by Timothy Zahn,459,"['fiction', 'fantasy', 'science fiction']",4.16,2128,1,0.0048,0.0010,0.0040,0.0004,...,0.0003,0.0001,0.0050,0.0000,0.0008,0.0095,0.0015,0.0005,0.0057,0.0020
4,Eric by Terry Pratchett,160,"['fiction', 'fantasy']",3.65,6634,1,0.0028,0.0016,0.0054,0.0092,...,0.0001,0.0008,0.0000,0.0000,0.0004,0.0083,0.0000,0.0001,0.0004,0.0001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8915,Inkheart by Cornelia Funke,535,"['fiction', 'fantasy', 'middle grade']",3.88,30975,1,0.0045,0.0008,0.0045,0.0014,...,0.0018,0.0005,0.0020,0.0005,0.0003,0.0096,0.0005,0.0000,0.0049,0.0022
8916,Little Fires Everywhere by Celeste Ng,368,"['fiction', 'contemporary', 'literary']",4.08,102789,0,0.0040,0.0050,0.0008,0.0003,...,0.0009,0.0001,0.0031,0.0023,0.0061,0.0008,0.0022,0.0002,0.0047,0.0018
8917,Lies by Michael Grant,472,"['fiction', 'dystopian', 'science fiction', 'y...",3.88,5914,1,0.0064,0.0012,0.0022,0.0007,...,0.0000,0.0000,0.0075,0.0022,0.0006,0.0073,0.0028,0.0000,0.0050,0.0086
8918,Emma by Jane Austen,574,"['fiction', 'classics', 'literary', 'romance']",3.99,63694,0,0.0022,0.0072,0.0004,0.0070,...,0.0007,0.0029,0.0001,0.0000,0.0022,0.0004,0.0006,0.0001,0.0001,0.0000
8919,Gente Ansiosa by Fredrik Backman,350,"['fiction', 'contemporary', 'literary', 'myste...",4.27,67909,0,0.0037,0.0056,0.0005,0.0074,...,0.0035,0.0005,0.0006,0.0021,0.0055,0.0008,0.0007,0.0001,0.0026,0.0007

# Definicja zmiennych

## title_author

$\text{Zmienna przedstawiająca tytuł i autora książki.}$<p>
$\text{Poniżej sprawdzono czy zmienna zawiera unikalne wartości.}$

In [4]:
print("Zmienna title_author posiada wartości unikalne: {}".format(len(data["title_author"].value_counts()) == len(data)))

Zmienna title_author posiada wartości unikalne: False

$\text{Niektóre książki występują w danych kilkukrotnie, co ma związek z tym, że na stronie, z której scrapowano dane, książki były dostępne w różnych wersjach.}$<p>
$\text{Poniżej przedstawiono przykład, książki posiadają tą samą wartość title\_author, ale różnią się chociażby liczbą stron.}$

In [20]:
data.loc[data["title_author"] == data["title_author"].value_counts().index[0]]

,title_author,pages,genre,stars,reviews,series,mix,character,plot,funny,...,inspiring,relaxing,tense,sad,reflective,adventurous,challenging,informative,mysterious,dark
983,Happy Place by Emily Henry,388,"['fiction', 'contemporary', 'romance']",4.16,71882,0,0.0026,0.0068,0.0004,0.0055,...,0.0019,0.0014,0.0005,0.002,0.0042,0.0007,0.0004,0.0,0.0,0.0
2124,Happy Place by Emily Henry,388,"['fiction', 'contemporary', 'romance']",4.16,71837,0,0.0026,0.0068,0.0004,0.0055,...,0.0019,0.0014,0.0005,0.002,0.0042,0.0007,0.0004,0.0,0.0,0.0
5250,Happy Place by Emily Henry,388,"['fiction', 'contemporary', 'romance']",4.16,71887,0,0.0026,0.0068,0.0004,0.0055,...,0.0019,0.0014,0.0005,0.002,0.0042,0.0007,0.0004,0.0,0.0,0.0
6777,Happy Place by Emily Henry,391,"['fiction', 'contemporary', 'romance']",4.16,71887,0,0.0026,0.0068,0.0004,0.0055,...,0.0019,0.0014,0.0005,0.002,0.0042,0.0007,0.0004,0.0,0.0,0.0
7939,Happy Place by Emily Henry,385,"['fiction', 'contemporary', 'romance']",4.16,71869,0,0.0026,0.0068,0.0004,0.0055,...,0.0019,0.0014,0.0005,0.002,0.0042,0.0007,0.0004,0.0,0.0,0.0

$\text{Zdecydowano się na usunięcie duplikatów ze zbioru danych.}$

In [23]:
data.drop_duplicates(subset="title_author", keep="first", inplace=True)
data.reset_index(drop=True, inplace=True)

,title_author,pages,genre,stars,reviews,series,mix,character,plot,funny,...,inspiring,relaxing,tense,sad,reflective,adventurous,challenging,informative,mysterious,dark
0,Gravity by Tal Bauer,273,"['fiction', 'contemporary', 'lgbtqia+', 'roman...",4.00,2017,0,0.0044,0.0051,0.0002,0.0027,...,0.0035,0.0007,0.0021,0.0012,0.0011,0.0010,0.0007,0.0001,0.0000,0.0000
1,Every Last Secret by A.R. Torre,302,"['fiction', 'thriller']",3.78,7330,0,0.0039,0.0042,0.0017,0.0003,...,0.0000,0.0000,0.0063,0.0005,0.0003,0.0007,0.0009,0.0000,0.0080,0.0068
2,Black Cake by Charmaine Wilkerson,400,"['fiction', 'historical', 'literary']",4.15,16761,0,0.0051,0.0039,0.0008,0.0002,...,0.0028,0.0001,0.0010,0.0034,0.0066,0.0024,0.0018,0.0011,0.0043,0.0010
3,Treason by Timothy Zahn,459,"['fiction', 'fantasy', 'science fiction']",4.16,2128,1,0.0048,0.0010,0.0040,0.0004,...,0.0003,0.0001,0.0050,0.0000,0.0008,0.0095,0.0015,0.0005,0.0057,0.0020
4,Eric by Terry Pratchett,160,"['fiction', 'fantasy']",3.65,6634,1,0.0028,0.0016,0.0054,0.0092,...,0.0001,0.0008,0.0000,0.0000,0.0004,0.0083,0.0000,0.0001,0.0004,0.0001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6925,Gestohlene Erinnerung by Blake Crouch,432,"['fiction', 'science fiction', 'thriller']",4.15,30643,0,0.0048,0.0005,0.0046,0.0000,...,0.0003,0.0000,0.0070,0.0016,0.0032,0.0071,0.0034,0.0006,0.0058,0.0052
6926,The Terraformers by Annalee Newitz,352,"['fiction', 'lgbtqia+', 'science fiction']",3.62,1058,0,0.0055,0.0013,0.0030,0.0015,...,0.0035,0.0002,0.0013,0.0004,0.0038,0.0071,0.0030,0.0015,0.0006,0.0008
6927,Inkheart by Cornelia Funke,535,"['fiction', 'fantasy', 'middle grade']",3.88,30975,1,0.0045,0.0008,0.0045,0.0014,...,0.0018,0.0005,0.0020,0.0005,0.0003,0.0096,0.0005,0.0000,0.0049,0.0022
6928,Lies by Michael Grant,472,"['fiction', 'dystopian', 'science fiction', 'y...",3.88,5914,1,0.0064,0.0012,0.0022,0.0007,...,0.0000,0.0000,0.0075,0.0022,0.0006,0.0073,0.0028,0.0000,0.0050,0.0086
6929,Gente Ansiosa by Fredrik Backman,350,"['fiction', 'contemporary', 'literary', 'myste...",4.27,67909,0,0.0037,0.0056,0.0005,0.0074,...,0.0035,0.0005,0.0006,0.0021,0.0055,0.0008,0.0007,0.0001,0.0026,0.0007

## pages

$\text{Zmienna przedstawia liczbę stron książki.}$

## genre

$\text{Wartości zmiennej to listy gatunków, do których należy książka.}$<p>
$\text{Ponieważ większość algorytmów uczenia maszynowego obsługuje jedynie zmienne numeryczne, należy przekształcić tę zmienną.}$<p>
$\text{W pierwszej kolejności zweryfikowano, jakie unikalne wartości (gatunki) występują wewnątrz list oraz ile ich jest.}$

In [119]:
genre_values = data["genre"].values
genres_list = [eval(genres) for genres in genre_values]
unique_genres = set([genre for genres in genres_list for genre in genres])
genre_count = {genre: 0 for genre in unique_genres}
for genres in genres_list:
    for genre in genres:
        genre_count[genre] += 1
print("Liczba książek w każdym gatunku: {}".format(genre_count))
print("Liczbę unikalnych gatunków: {}".format(len(unique_genres)))

Liczba książek w każdym gatunku: {'self help': 98, 'politics': 97, 'design': 1, 'poetry': 124, 'funny': 3, 'reference': 9, 'fiction': 5994, 'comics': 61, 'food and drink': 10, 'cookbook': 1, 'lgbtqia+': 861, 'speculative fiction': 63, 'psychology': 100, 'education': 3, 'computer science': 1, 'travel': 25, 'classics': 674, 'history': 6, 'essays': 112, 'emotional': 1, 'mystery': 755, 'science': 98, 'dystopian': 183, 'feminism': 102, 'short stories': 221, 'thriller': 682, 'literary': 1044, 'lighthearted': 5, 'gender': 17, 'music': 29, 'historical': 911, 'contemporary': 1434, 'manga': 76, 'business': 32, 'mathematics': 1, 'memoir': 366, 'crime': 236, 'race': 75, 'sad': 6, 'horror': 6, 'nature': 35, 'middle grade': 221, 'health': 41, 'philosophy': 68, 'relaxing': 2, 'erotica': 57, 'technology': 7, 'religion': 27, 'young adult': 1228, 'reflective': 15, 'nonfiction': 933, 'inspiring': 2, 'magical realism': 223, 'fantasy': 1707, 'play': 42, 'true crime': 41, 'video games': 5, 'sports': 65, 'art': 19, 'tense': 55, 'childrens': 79, 'informative': 5, 'romance': 1469, 'autobiography': 41, 'biography': 69, 'sociology': 45, 'economics': 14, 'science fiction': 545, 'mysterious': 11}
Liczbę unikalnych gatunków: 69

$\text{Gatunków jest stosunkowo dużo, zatem potencjalne utworzenie zmiennych binarnych dla każdego gatunku mogłoby prowadzić do problemu związanego z dużą wymiarowością zbioru danych.}$<p>
$\text{Jak można jednak zauważyć, występują zbliżone do siebie tematycznie gatunki, które można połączyć w jedną kategorię.}$<p>
$\text{Bazując na liczebności każdego gatunku (nie chcemy wrzucać do koszyka 'Inne' gatunku, który jest bardzo liczny), zdecydowano się na podział gatunków na 11 kategorii.}$<p>
$\qquad \text{1. Literature and Art: art, classics, contemporary, design, literary, poetry, essays, short stories.}$<p>
$\qquad \text{2. Fiction: dystopian, fantasy, fiction, magical realism, mysterious, mystery, science fiction, speculative fiction.}$<p>
$\qquad \text{3. Science: business, computer science, economics, education, historical, history, informative, mathematics, nonfiction, philosophy, politics, religion, science, technology, reference.}$<p>
$\qquad \text{4. Crime: crime, horror, tense, thriller, true crime.}$<p>
$\qquad \text{5. Psychology: psychology, self help, sociology.}$<p>
$\qquad \text{6. Social: feminism, gender, health, lgbtqia+, nature, race.}$<p>
$\qquad \text{7. Emotions: emotional, funny, relaxing, sad, inspiring, reflective.}$<p>
$\qquad \text{8. Children: childrens, middle grade, young adult.}$<p>
$\qquad \text{9. Romans: erotica, lighthearted, romance.}$<p>
$\qquad \text{10. Biography: autobiography, biography, memoir.}$<p>
$\qquad \text{11. Entertainment: cookbook, comics, manga, food and drink, music, play, sports, travel, video games.}$<p>

$\text{Zostaną uwtorzone zmienne binarne dla każdej z wyżej wymienionych kategorii.}$<p>
$\text{Zatem przykładowo dla obserwacji, która posiada w zmiennej genre wartość ['fiction', 'thriller'], to w kolumnie 'Fiction' i 'Crime' będą wartości 1, a w pozostałych 0.}$

In [128]:
genres_dictionary_mapper = {"Literature and Art": ["art", "classics", "contemporary", "design", "literary", "poetry", "essays", "short stories"],
                            "Fiction": ["dystopian", "fantasy", "fiction", "magical realism", "mysterious", "mystery", "science fiction", "speculative fiction"],
                            "Science": ["business", "computer science", "economics", "education", "historical", "history", "informative", "mathematics", "nonfiction", "philosophy", "politics", "religion", "science", "technology", "reference"],
                            "Crime": ["crime", "horror", "tense", "thriller", "true crime"],
                            "Psychology": ["psychology", "self help", "sociology"],
                            "Social": ["feminism", "gender", "health", "lgbtqia+", "nature", "race"],
                            "Emotions": ["emotional", "funny", "relaxing", "sad", "inspiring", "reflective"],
                            "Children": ["childrens", "middle grade", "young adult"],
                            "Romans": ["erotica", "lighthearted", "romance"],
                            "Biography": ["autobiography", "biography", "memoir"],
                            "Entertainment": ["cookbook", "comics", "manga", "food and drink", "music", "play", "sports", "travel", "video games"]
}
#Utworzenie słownika genres, który będzie przechowywał gatunki/nazwy nowo tworzonych kolumn binarych (klucze) oraz indeksy obserwacji, które zawierają dany gatunek (wartości)
genres = {key: [] for key in genres_dictionary_mapper.keys()}
for obs_idx, list in enumerate(genres_list):
    for genre in list:
        for key, value in genres_dictionary_mapper.items():
            if genre in value:
                genres[key].append(obs_idx)
#Utworzenie nowych kolumn binarnych na podstawie słownika genres
for key, value in genres.items():
    data[key] = 0
    data.loc[value, key] = 1

$\text{W celu weryfikacji wybierzmy kilka obserwacji i sprawdźmy czy prawidłowo przypisano im kategorie.}$

In [131]:
import random
data.loc[random.sample(range(len(data)), 5), ["title_author", "genre", "Literature and Art", "Fiction", "Science", "Crime", "Psychology", "Social", "Emotions", "Children", "Romans", "Biography", "Entertainment"]]

,title_author,genre,Literature and Art,Fiction,Science,Crime,Psychology,Social,Emotions,Children,Romans,Biography,Entertainment
3854,Just the Nicest Couple by Mary Kubica,"['fiction', 'mystery', 'thriller']",0,1,0,1,0,0,0,0,0,0,0
3119,The Female Persuasion by Meg Wolitzer,"['fiction', 'literary']",1,1,0,0,0,0,0,0,0,0,0
6192,Beasts of Prey by Ayana Gray,"['fiction', 'fantasy', 'young adult']",0,1,0,0,0,0,0,1,0,0,0
1989,"Juliet, Naked by Nick Hornby","['fiction', 'contemporary', 'literary']",1,1,0,0,0,0,0,0,0,0,0
1922,A Study in Drowning by Ava Reid,"['fiction', 'fantasy', 'young adult']",0,1,0,0,0,0,0,1,0,0,0

$\text{Ponieważ w nowo utworzonych kolumnach mamy już informację o gatunkach, zmienna genre nie jest już potrzebna i zostanie usunięta.}$

In [ ]:
data.drop(columns=["genre"], inplace=True)

## stars

$\text{Zmienna celu przedstawiająca ocenę książki.}$

## reviews

$\text{Zmienna ciągła informująca o liczbie recenzji książki.}$

## series

$\text{Zmienna binarna informująca czy książka jest częścią serii (1) czy nie (0).}$

## mix

$\text{Zmienna binarna informująca czy książka jest zbiorem opowiadań (1) czy nie (0).}$

In [135]:
data[["mix", "plot", "character"]]

         mix    plot  character
0     0.0044  0.0002     0.0051
1     0.0039  0.0017     0.0042
2     0.0051  0.0008     0.0039
3     0.0048  0.0040     0.0010
4     0.0028  0.0054     0.0016
...      ...     ...        ...
6925  0.0048  0.0046     0.0005
6926  0.0055  0.0030     0.0013
6927  0.0045  0.0045     0.0008
6928  0.0064  0.0022     0.0012
6929  0.0037  0.0005     0.0056

[6930 rows x 3 columns]

In [132]:
data.columns

Index(['title_author', 'pages', 'genre', 'stars', 'reviews', 'series', 'mix',
       'character', 'plot', 'funny', 'lighthearted', 'emotional', 'hopeful',
       'inspiring', 'relaxing', 'tense', 'sad', 'reflective', 'adventurous',
       'challenging', 'informative', 'mysterious', 'dark',
       'Literature and Art', 'Fiction', 'Science', 'Crime', 'Psychology',
       'Social', 'Emotions', 'Children', 'Romans', 'Biography',
       'Entertainment'],
      dtype='object')